.swiper-pagination-bullet-active{
  background: #00B207 !important;
}
/* .group:hover .bg-container {
  background-image: url('../../public/Icon (1).png') !important;

} */
.shadowBox{
  box-shadow: 5px 5px 16px 2px #20B526 inset !important;
}

.slick-next, .slick-prev{
  width: 40px !important;
  height: 40px !important;
  border: 1px solid #E6E6E6 !important;
  background-color: #fff !important;
  border-radius: 50%;
}

.slick-prev:before, .slick-next:before{
  font-size: 20px !important;
  color: #1A1A1A !important;
  font-family: Arial, sans-serif !important; /* Fallback font */
}

/* This creates the gap between slides */
.slick-slide > div {
  padding: 0 10px; /* Half of the gap you want between items */
}

/* This compensates for the padding to keep slides aligned */
.slick-list {
  margin: 0 -10px;
}

.slick-prev {
  left: -30px;
}

.slick-next {
  right: -30px;
}