.swiper-pagination-bullet-active{
  background: #00B207 !important;
}
.group:hover .bg-container {
  background-image: url('../../public/Icon (1).png') !important;

}
.shadowBox{
  box-shadow: 5px 5px 16px 2px #20B526 inset !important;
}