@import "tailwindcss";

@theme {
   --color-grayishGreen: #EDF2EE;
   --color-darkGreen:#2B572E;
   --color-darkGreen2:#2C742F;
   --color-darkGray: #1A1A1A;
   --color-lightGray: #808080;
   --color-darkEmerald: #002603;
   --color-timberwolfGreen: #DAE5DA;
   --color-pureGreen: #00B207;
   --color-brightOrange: #FF8A00;
   --color-dimGray: #999999;
   --color-lighterGray: #E6E6E6;
   --color-lightestGray: #F2F2F2;
   --color-darkGray2: #4D4D4D;
}

@layer components {
  .navLink{
    @apply list-none
  }
  .btn{
    @apply text-base font-semibold text-white bg-pureGreen flex items-center gap-2 rounded-full py-2 px-5
  }
  .cardBorder{
    @apply border-[1px] border-lighterGray p-5 rounded-lg hover:border-darkGreen2 hover:shadow-[0px_0px_12px_0px_#20B526] shadow-sm transition-all duration-300 relative  
  }
}